

.container {
  display: flex;
  flex-direction: column; /* Stacks header on top of the main area */
  height: 100vh; /* Full height of the viewport */
}

/* Header styling */
.header {
  background-color: #1f3520;
  color: white;
  text-align: center;
  padding: 10px;
  flex: 0 1 50px; /* Header height is 50px */
}

/* Main area containing sidebar and content */
.main {
  display: flex;
  flex: 1; /* Takes up the remaining space */
}

/* Sidebar styling */
.sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid green;
  flex: 0 0 200px; /* Fixed width of 200px */
  display: flex;
  flex-direction: column;
  gap:10px;
  .items{
    flex:1;
    border: 1px solid green;
}
}
/* Content styling */
.content {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  flex: 1; /* Takes up remaining space */
}

@media (max-width: 580px) {
  .main {
    flex-direction: column;
  }
  .sidebar{
    flex-direction: row;
  }
}
